<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="ASKLoggerConnection" connectionString="Server=.\SQLEXPRESS;Initial Catalog=Bayer_Eylea;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
 <add name="LearningPlatformCodeFirstConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bayer_Eylea;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>