<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl" value="https://staging.asandk.com/eylea_api_host_int"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InternalBaseUrl" value="https://staging.asandk.com/eylea_api_host_int/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JwtDomainForTokenSigning" value="https://staging.asandk.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key ="FrontEndWebUrl" value ="https://staging.asandk.com/eylea_int/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>