@model LP.ServiceHost.DataContracts.Common.Content.Group

<li>
    <input type="checkbox" value="@Model.Name" class="filter-checkbox" id="@Model.Name" />
    <label for="@Model.Name">@Model.Name</label>
</li>