<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <add name="ASKLoggerConnection" connectionString="Server=.\SQLEXPRESS;Initial Catalog=Bayer_Eylea;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="LearningPlatformCodeFirstConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bayer_Eylea;Trusted_Connection=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  
  <!--<add name="ASKLoggerConnection" connectionString="Data Source=staging.asandk.com;Initial Catalog=Bayer_Eylea_Qa;User ID=sa;Password=Pa55word123;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="LearningPlatformCodeFirstConnection" connectionString="Data Source=staging.asandk.com;Initial Catalog=Bayer_Eylea_Qa;User ID=sa;Password=Pa55word123;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->



</connectionStrings>