<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <clear/>
  <add name="LearningPlatformCodeFirstConnection" connectionString="server=.\SQLEXPRESS2014;database=Bayer_Eylea_Qa;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="ASKLoggerConnection" connectionString="server=.\SQLEXPRESS2014;database=Bayer_Eylea_Qa;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
</connectionStrings>