@model LP.ServiceHost.DataContracts.Common.Exams.ModuleComplete
<li>
    <span class="stats js-foundation-stats">@Model.NumberOfModulesComplete/@Model.TotalNumberOfModules</span>
    @Model.TranslatedItem.TranslatedValue
</li>