@model LP.Model.ViewModels.Shared.PieChartViewModel

<div class="pie-wrap progress__chart">
    <canvas id="pie_canvas_@Model.Id" class="stat_canvas" height="82" width="82" style="width: 82px; height: 82px;" data-percentage="@Model.PercentageFilled"></canvas>
</div>