@model LP.Model.ViewModels.Dashboards.PerformanceGroupTypeViewModel
           
<th scope="col" class="rgHeader">
    <span class="branded-title">@Model.GroupTypeName<span class="second">@Model.TrainingTranslatedItem</span></span>
</th>