@model LP.Model.ViewModels.Dashboards.CountryPerformanceCultureViewModel

<span class="culture culture-@Model.CultureCode" title="@Model.CultureDescription">@Model.CultureDescription @Model.NumberOfUsersWithAccess</span>
   
