@model LP.Model.ViewModels.Dashboards.DashboardBarChartLegendViewModel
<ul class="legend">
    <li><span class="legend-item bar1"></span>@Model.RegisteredTranslatedItem.TranslatedValue</li>
    <li><span class="legend-item bar2"></span>@Model.StartedTranslatedItem.TranslatedValue</li>
    <li><span class="legend-item bar3"></span>@Model.InProgressTranslatedItem.TranslatedValue</li>
    <li><span class="legend-item bar4"></span>@Model.CertifiedTranslatedItem.TranslatedValue</li>
</ul>